<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WHAT_ARE_YOU_TESTING</title>
    <link rel="author" title="YOUR_NAME" href="mailto:YOUR_EMAIL">
    <link rel="help" href="LINK_TO_SPEC_INCLUDING_YOUR_SPECIFIC_SECTION_ID">
    <script src="/resources/testharness.js"></script>
    <script src="/resources/testharnessreport.js"></script>
    <script src=/resources/webidl2.js></script>
    <script src="/resources/idlharness.js"></script>
</head>
<body>

<h1>idlharness test</h1>
<p>This test validates the WebIDL contained within ... .</p>

<div style='display:none'>

<!-- ADD ANY HTML NEEDED TO CREATE THE NECESSARY OBJECT(S) HERE
     OR, JUST DELETE THIS DIV
-->

</div>

<pre id='idl'>

<!-- PUT THE WEBIDL YOU NEED TO TEST HERE -->

</pre>

<pre id='untested_idl' style='display:none'>
    
<!-- PUT ALL SUPPORTING WEBIDL HERE 
    (THIS WILL LET THE OBJECT BE TESTED IN-DEPTH, 
     EVEN THOUGH THESE INTERFACES WILL NOT BE DOUBLE-CHECKED AGAINST THE USER AGENT'S VERSIONS) 
-->

</pre>

<pre id='pending' style='display:none'>

<!-- DURING YOUR TROUBLE-SHOOTING PHASE,
     YOU CAN STASH WEBIDL YOU HAVE YET-TO-PASTE INTO THE 'UNTESTED' SECTION HERE
     
     THIS PRE ELEMENT SHOULD BE EMPTY AND DELETED BEFORE YOU SUBMIT THESE TESTS
-->

</pre>

<script>

    (function() {

        var idl_array = new IdlArray();

        idl_array.add_idls(document.getElementById("idl").textContent);
        idl_array.add_untested_idls(document.getElementById("untested_idl").textContent);
        idl_array.add_objects({
            INTERFACE_NAME: ["HTML.OBJECT"],
            INTERFACE_NAME: ["document.getElementById('ID_1')",
                             "document.getElementById('ID_2')",
                             "document.getElementById('ID_3')"]
        });
        idl_array.test();
    })();

</script>

<div id="log"></div>

</body>
</html>
